:root {
  --color-naranja: rgb(241, 132, 45);
}

.nav-link:hover {
  color: var(--color-naranja) !important;
}

body {
  padding-top: 70px; /* Ajusta si tu navbar es más alto */
}

#servicios h2 {
  color: rgb(65, 51, 116);
  font-weight: bold;
}

#servicios h5 {
  color: rgb(241, 132, 45);
  margin-bottom: 0.75rem;
}

:root {
  --color-naranja: rgb(241, 132, 45);
  --color-violeta: rgb(65, 51, 116);
}

/* Seccion hero */

/* Mejora visual: blanco y animación suave */
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* Imagen con efecto zoom */
.servicio-img {
  transition: transform 0.3s ease;
}

.servicio-img:hover {
  transform: scale(1.05);
}

/* Título del servicio como link */
.servicio-link h5 {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

.servicio-link:hover h5 {
  color: var(--color-naranja);
}

.titulo-servicios {
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(65, 51, 116); /* Violeta corporativo */
}

.intro-servicios {
  font-size: 1.1rem;
  color: #555;
  max-width: 800px;
  margin: 0 auto;
}
