:root {
  --color-naranja: rgb(241, 132, 45);
}

.nav-link:hover {
  color: var(--color-naranja) !important;
}

body {
  padding-top: 70px; /* Ajusta si tu navbar es más alto */
}

#servicios h2 {
  color: rgb(65, 51, 116);
  font-weight: bold;
}

#servicios h5 {
  color: rgb(241, 132, 45);
  margin-bottom: 0.75rem;
}

:root {
  --color-naranja: rgb(241, 132, 45);
  --color-violeta: rgb(65, 51, 116);
}

/* Seccion hero */

/* Mejora visual: blanco y animación suave */
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}






